.game-container {
  padding: 3.2% 2% 0.1% 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  background-color: #1d3955;
}

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eeeeee4f;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(252, 250, 250, 0.1);
  background-color: #101f2e;
  width: 100%;
  height: 100%;
}

.game-box:hover {
  transform: translateY(-10px);
  transform:scale(1.2);
  background-color: #1d3955;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.game-box h2 {
  margin: 10px 0 0 3px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.game-box p {
  margin: 5px 0 0px;
  font-size: 0.9rem;
  color: #e9e9e9;
}

.Next{
    justify-content: space-between;
    margin-top: 20px;
    width: 7%;
    padding-left: 10px;
}

.Previous{
    justify-content: space-between;
    margin-top: 20px;
    width: 7%;
}

.Library-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  background-color: #1d3955;
  flex-wrap: wrap;
}

.Library-footer{
  background-color: #1d3955;
}

.Dropdown-meny{
padding-bottom: 0.5%;
}

h1{
color: #e9e9e9;
}

select{
  border:none;
  padding: 0.1% 0.2%;
  border-radius:5px;
  position: left;
}

select:focus{
  outline:none;
}

#Filter {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#searchbar {
  width: 80%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.Library-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.Library-title h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  flex: 1;
}

#searchbar2 {
  display: flex;
  align-items: center;
  padding-left: 10%;
  flex: 1;
}

.SavedButton{
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.SavedButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}